* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

#search-results {
  display: flex;
}

#hiking-map {
  width: 800px;
  height: 600px;
  flex-shrink: 0;
}

.trail-list {
  flex-grow: 1;
  max-height: 800px;
  overflow-y: auto;
}
